[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pillow = "*"
fastapi = "*"
uvicorn = "*"
install = "*"
python-multipart = "*"

[dev-packages]

[requires]
python_version = "3.11"
